/* PALETA DE COLORES */
:root {
    --amarillo: #ffff7a;
    --verdecito: #8dd6dc;
    --verde-obscuro: #ff91c4;
    /* Cambio realizado */
    --lila3: #e376df;
    --lila2: #dd91dd;
    --lila1: #daadda;
    --rosa-pastel: #d8b3d9;
    --rosa-obscuro: #b14c8b;
}

/* FUENTE */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--amarillo);
    color: var(--rosa-obscuro);
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

p,
span,
li,
a {
    margin: 0;
    font-size: 1.5rem;
}

/* LINKS */
a {
    text-decoration: none;
    color: var(--rosa-obscuro);
}

a:hover {
    color: var(--lila3);
}

/* HEADER */
header {
    background-color: var(--amarillo);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* NAV BAR */
nav {
    background-color: var(--amarillo);
    width: 100%;
    height: 80px;
    /* Ajusta la altura según lo necesites */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #f0db50;
    -webkit-box-shadow: 0px 9px 20px 0px rgba(245, 226, 81, 1);
    -moz-box-shadow: 0px 9px 20px 0px rgba(245, 226, 81, 1);
    box-shadow: 0px 9px 20px 0px rgba(245, 226, 81, 1);
}

.ul-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li-nav {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 20px;
    /* Espacio entre elementos de la lista de navegación */
    display: inline-block;
    /* Mostrar elementos en línea */
}

/* MAIN */

i{
    font-size: 2rem;
}
.welcome-container {
    padding-top: 15px;
}

/* RETRATO */
.retrato-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem 0;
    box-shadow: inset 0 0 0 3px var(--amarillo), inset 0 0 0 6px var(--verdecito),
        inset 0 0 0 9px var(--rosa-obscuro), inset 0 0 0 12px var(--lila3),
        inset 0 0 0 15px var(--lila2);
}

.retrato {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONOCIMIENTOS */
.knowledge {
    background-color: var(--verde-obscuro);
    padding: 2rem 0;
}

.knowledge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowledge-icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.knowledge-icon {
    margin: 10px;
    padding: 10px;
    background-color: var(--verdecito);
    border: 5px solid var(--rosa-obscuro);
    justify-content: center;
    align-items: center;
}

/* QUOTE */
.quote {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Alinea verticalmente los elementos */
    margin: 2rem;
    
    margin-right: 5.5rem;
}

.parrafo-quote{
    margin-top: 2rem;
}

.chat-bubble {
    width: 300px;
    /* Ajusta el tamaño de la imagen según lo necesites */
    margin-right: 1rem;
    /* Ajusta el margen derecho según lo necesites */
    align-items: center;
    /* Alinea verticalmente la imagen */
}

/* PROYECTOS */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.project-list{
    background-color: #8dd6dc;
}

.img-project {
    width: 200px;
}

/* CONTACTO */

.contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}

.contact-div-ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}